
  
Django
wagtail
django_allauth
django_countries
django-allauth
django-comments-xtd
django-extensions
wagtail-localize
django-widget-tweaks
wagtailstreamforms
django-modeltranslation
django-recaptcha
wagtail-django-recaptcha
gunicorn
whitenoise
dj-database-url
psycopg2
