 {% load wagtailcore_tags wagtailimages_tags %}
 <!-- container -->
              <div class="container-fluid">

                <!-- row -->
                <div class="row">
                  {% for organisations in self.organisation %}
                  <!-- col -->
                  <div class="col-6 col-lg-3">
                    <!-- brand -->
                    {% image organisations.Photo fill-320x320 as img %}
                    <img class="art-brand" src="{{ img.url }}" alt="{{ img.url }}">
                    <h5 class="mb-30">{{organisations.title}}</h5>
                  </div>
                  
                  <!-- col end -->
                  {% endfor %}


                </div>
                <!-- row end -->

              </div>
              <!-- container end -->