<!-- container -->
              <div class="container-fluid">

                <!-- row -->
                <div class="row p-0-0">

                  <!-- col -->
                  <div class="col-lg-12">

                    <!-- section title -->
                    <div class="art-section-title">
                      <!-- title frame -->
                      <div class="art-title-frame">
                        <!-- title -->
                        <h4>{{self.title}}</h4>
                      </div>
                      <!-- title frame end -->
                    </div>
                    <!-- section title end -->

                  </div>
                  <!-- col end -->
                {% for plan in self.plans %}
                  <!-- col -->
                  <div class="col-lg-4">

                    <!-- price -->
                    {% if plan.popular %}
                    <div class="art-a art-price art-popular-price">
                    {% else %}
                    <div class="art-a art-price">
                    {% endif %}
                      <!-- price body -->
                      <div class="art-price-body">
                        <h5 class="mb-30">{{plan.plan_type}}</h5>
                        <!-- price cost -->
                        <div class="art-price-cost">
                          <div class="art-number"><sup>{{plan.sup}}</sup><span>{{plan.currency}}</span>{{plan.price}}<span>{{plan.working_rate}}</span></div>
                        </div>
                        <!-- price cost end -->
                        <!-- price list -->
                        {% for plan_item in plan.plan_items %}
                        <ul class="art-price-list">
                          <!-- list item -->
                          {% if plan_item.offered %}
                          <li>{{ plan_item.item_name }}</li>
                          
                          {% else %}
                          <li class="art-empty-item">{{ plan_item.item_name }}</li>
                          {% endif %}
                          
                        </ul>
                        {% endfor %}
                        <!-- price list end -->
                        <!-- button -->
                        <a href="#" class="art-link art-color-link art-w-chevron">Order now</a>
                        {% if plan.free_statement %}<div class="art-asterisk"><sup>*</sup>{{plan.free_statement}}</div>{% endif %}
                      </div>
                      <!-- price body end -->
                    </div>
                    <!-- price end -->

                  </div>
                  {% endfor %}
                  <!-- grid -->

                </div>
                <!-- row end -->

              </div>
              <!-- container end -->