            <!-- section title -->
            <div class="art-section-title">
                <!-- title frame -->
                <div class="art-title-frame">
                <!-- title -->
                <h4>Recommendations</h4>
                </div>
                <!-- title frame end -->
            </div>
            <!-- section title end -->

            </div>
            <!-- col end -->

            <!-- col -->
            <div class="col-lg-12">

            <!-- slider container -->
            <div class="swiper-container art-testimonial-slider" style="overflow: visible">
                <!-- slider wrapper -->
                <div class="swiper-wrapper">
                <!-- slide -->
                

                

                <!-- slide -->
                <div class="swiper-slide">

                    <!-- testimonial -->
                    <div class="art-a art-testimonial">
                    <!-- testimonial body -->
                    <div class="testimonial-body">
                        <!-- photo -->
                        <img class="art-testimonial-face" src="img/testimonials/face-4.jpg" alt="face">
                        <!-- name -->
                        <h5>Paul Trueman</h5>
                        <div class="art-el-suptitle mb-15">Template author</div>
                        <!-- text -->
                        <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                        This is easily a 5 star freelancer.</div>
                    </div>
                    <!-- testimonial body end -->
                    <!-- testimonial footer -->
                    <div class="art-testimonial-footer">
                        <div class="art-left-side">
                        <!-- star rate -->
                        <ul class="art-star-rate">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                        <!-- star rate end -->
                        </div>
                        <div class="art-right-side">

                        </div>
                    </div>
                    <!-- testimonial footer end -->
                    </div>
                    <!-- testimonial end -->

                </div>
                <!-- slide end -->

                </div>
                <!-- slider wrapper end -->
            </div>
            <!-- slider container end -->

            </div>
            <!-- col end -->
