<div class="art-header">
    <!-- avatar -->
    <div class="art-avatar">
    <a data-fancybox="avatar" href="img/face-1.jpg" class="art-avatar-curtain">
        <img src="img/face-1.jpg" alt="avatar">
        <i class="fas fa-expand"></i>
    </a>
    <!-- available -->
    <div class="art-lamp-light">
        <!-- add class 'art-not-available' if not available-->
        <div class="art-available-lamp"></div>
    </div>
    </div>
    <!-- avatar end -->
    <!-- name -->
    <h5 class="art-name mb-10"><a href="/nazar/arter-demo/home.html">Artur Carter</a></h5>
    <!-- post -->
    <div class="art-sm-text">Front-end Deweloper <br>Ui/UX Designer, </div>
</div>