{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailadmin_tags %}
<div class="art-header">
    <!-- avatar -->
    <div class="art-avatar">
    {% image self.bio_image fill-320x320 as  img %}
    <a data-fancybox="avatar" href="{{ img.url }}" class="art-avatar-curtain">
        <img src="{{img.url}}" alt="{{img.alt}}">
        <i class="fas fa-expand"></i>
    </a>
    <!-- available -->
    <div class="art-lamp-light">
        <!-- add class 'art-not-available' if not available-->
        <div class="art-available-lamp"></div>
    </div>
    </div>
    <!-- avatar end -->
    <!-- name -->
    <h5 class="art-name mb-10"><a href="#">{{ self.first_name }} {{ self.last_name }}</a></h5>
    <!-- post -->
    {% for roles in self.role %}
    <div class="art-sm-text">{{roles.my_role}}<br>{{ roles.email }}</div>
    {% endfor %}
</div>