{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static wagtailadmin_tags %}
{% load static wagtailcore_tags widget_tweaks %}

{% block content %}


        <!-- info bar -->
        <div class="art-info-bar">

          <!-- menu bar frame -->
          <div class="art-info-bar-frame">

            <!-- info bar header -->
            <div class="art-info-bar-header">
              <!-- info bar button -->
              <a class="art-info-bar-btn" href="#.">
                <!-- icon -->
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <!-- info bar button end -->
            </div>
            <!-- info bar header end -->

            <!-- info bar header -->
            {% for entry in home_menu %}
                {{entry.bio}}
            {% endfor %}
            <!-- info bar header end -->

            <!-- scroll frame -->
            {% for block in home_menu %}
                {{block.persoanl_data}}
            
            {% endfor %}

            <!-- scroll frame end -->

            <!-- sidebar social -->
            {% include 'social.html' %}
            <!-- sidebar social end -->

          </div>
          <!-- menu bar frame end -->

        </div>
        <!-- info bar end -->

        <!-- content -->
        <div class="art-content">

          <!-- curtain -->
          <div class="art-curtain"></div>

          <!-- top background -->
          <div class="art-top-bg" style="background-image: url({% static 'img/bg.jpg' %})">
            <!-- overlay -->
            <div class="art-top-bg-overlay"></div>
            <!-- overlay end -->
          </div>
          <!-- top background end -->


          <!-- swup container -->
          <div class="transition-fade" id="swup">

            <!-- scroll frame -->
            <div id="scrollbar" class="art-scroll-frame">

{% comment %} #--------------------include Footer ----------------------- {% endcomment %}

             {% for block in self.academic %}
             {% include_block block%}
             {% endfor %}
    
  
                   


                           
{% comment %} #--------------------include Footer ----------------------- {% endcomment %}

            {% include 'footer.html' %}
             



            </div>
            <!-- scroll frame end -->

          </div>
          <!-- swup container end -->

        </div>
        <!-- content end -->
{% comment %} #--------------include menu--------------------- {% endcomment %}
  {% include 'menu.html' %}
           

{% endblock %}