
              <!-- container -->
              <div class="container-fluid">

                <!-- footer -->
                <footer>
                  <!-- copyright -->
                  <div>© 2021 Algo-Code</div>
                  <!-- author ( Please! Do not delete it. You are awesome! :) -->
                  <div>Github:&#160; <a href="https://github.com/kuyesu" target="_blank">Kuyesu Rogers</a></div>
                </footer>
                <!-- footer end -->

              </div>
              <!-- container end -->