      <!-- menu bar -->
        <div class="art-menu-bar">

          <!-- menu bar frame -->
          <div class="art-menu-bar-frame">

            <!-- menu bar header -->
            <div class="art-menu-bar-header">
              <!-- menu bar button -->
              <a class="art-menu-bar-btn" href="#.">
                <!-- icon -->
                <span></span>
              </a>
              <!-- menu bar button end -->
            </div>
            <!-- menu bar header end -->

            <!-- current page title -->
            <div class="art-current-page">{{page.title}}</div>
            <!-- current page title end -->

            <!-- scroll frame -->
            <div class="art-scroll-frame">

              <!-- menu -->
              <nav id="swupMenu">
                <!-- menu list -->
                <ul class="main-menu">
                  <!-- menu item -->
                  <li class="menu-item current-menu-item"><a href="#">Home</a></li>
                  <!-- menu item -->
                  <li class="menu-item menu-item-has-children">
                    <a href="#.">Portfolio</a>
                    <!-- sub menu -->
                    <ul class="sub-menu">
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">2 column</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">3 column</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">2 column masonry</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">3 column masonry</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">Single project</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">Single project 2</a></li>
                    </ul>
                    <!-- sub menu end -->
                  </li>
                  <!-- menu item -->
                  <li class="menu-item"><a href="#">History</a></li>
                  <!-- menu item -->
                  <li class="menu-item"><a href="#">Contact</a></li>
                  <!-- menu item -->
                  <li class="menu-item menu-item-has-children">
                    <a href="#.">Blog</a>
                    <!-- sub menu -->
                    <ul class="sub-menu">
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">2 column</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">3 column</a></li>
                      <!-- lvl 2 nav link -->
                      <li class="menu-item"><a href="#">Publication</a></li>
                    </ul>
                    <!-- sub menu end -->
                  </li>
                  <!-- menu item -->
                  <li class="menu-item"><a href="onepage.html" target="_blank">Onepage</a></li>
                </ul>
                <!-- menu list end -->
              </nav>
              <!-- menu end -->

              <!-- language change -->
              <ul class="art-language-change">
                <!-- language item -->
                
                <!-- language item -->
                <li class="art-active-lang"><a href="#.">EN</a></li>
              </ul>
              <!-- language change end -->

            </div>
            <!-- scroll frame end -->

          </div>
          <!-- menu bar frame -->

        </div>
        <!-- menu bar end -->