<div class="art-ls-social">
              <!-- social link -->
              <a href="#." target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <!-- social link -->
              <a href="#." target="_blank"><i class="fab fa-dribbble"></i></a>
              <!-- social link -->
              <a href="#." target="_blank"><i class="fab fa-behance"></i></a>
              <!-- social link -->
              <a href="#." target="_blank"><i class="fab fa-github"></i></a>
              <!-- social link -->
              <a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
            </div>